<!-- Highlighter for code block -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/vs2015.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/go.min.js"></script>
<script>hljs.highlightAll();</script>

{% if page.mathjax %}
  {% include mathjax.html %}
{% endif %}

{% if page.uml %}
  {% include uml.html %}
{% endif %}

{% if page.mermaid %}
  {% include mermaid.html %}
{% endif %}